// Headings and labels
$sophisticated-navy: #2C3E50;

// Sub-headings
$fabulous-grey: #B0B8BC;

// Sub-heading underline
$on-the-line-grey: #DBE0E2;

// Input border
$boxed-out-grey: #C3C4C3;

// Button #1
$mellowing-grey: #627B8B;

// Button #2
$intriguing-blue: #3498DB;
