.form {
  input:not([type=file]) {
    width: 100%;
    height: 35px;
  }

  ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  &__section {
    padding-bottom: 34px;

    &:last-of-type {
      padding-bottom: 28px;
    }
  }

  &__title {
    font-size: 8pt;
    font-weight: bold;
    color: $fabulous-grey;
    text-transform: uppercase;
    border-bottom: 1px $on-the-line-grey solid;
    padding-bottom: 3px;
    margin:0 0 10px;
  }

  &__field {
    padding-top: 15px;
  }

  &__label {
    font-size: 9pt;
    color: $sophisticated-navy;
    text-transform: uppercase;
    margin-bottom: 3px;
  }
}
