.flex-row {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;

  @include flex-columns();

  @at-root &__column {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
  }
}
