@import 'colours';

@mixin single-row-form-fields() {
  .hcard-builder {
    .form__field, .form__button-wrapper {
        flex: 1 100% !important;
        margin-right: 0 !important;
    }

    .form__button-wrapper:last-of-type {
      margin-top: 10px;
    }
  }
}

html, body, main {
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  :focus {
    &, & + * {
      outline: rgb(112, 171, 245) auto 5px;
    }
  }
}

main {
  background-color: rgb(225,227,232);
  display: flex;
  font-family: MerriweatherSans, Arial, sans-serif;

  input:not([type=file]) {
    border: 1px solid $boxed-out-grey;
    border-radius: 3px;
    padding: 3px 8px;
    font-family: Merriweather, Arial, serif;
    -webkit-appearance: none;
  }

  .hcard-preview {
    flex: 1;
    flex-basis: 52%;
    justify-content: center;
    flex-direction: column;
    min-width: 502px;
    padding: 145px 10px 0 10px;

    .vcard {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1000px) and (min-width: 751px) {
  main {
    @include single-row-form-fields;

    .hcard-preview {
      padding-top: 0;
    }

    .vcard {
      position: fixed;
      // Height of the vcard element (306px) divided by 2
      // Position above the vcard element of the preview text divided by 4
      top: calc(50% - (306px / 2) + (26px / 4));
      right: 4.5%;
    }
  }
}

@media screen and (max-height: 365px) and (max-width: 1000px) and (min-width: 751px) {
  main {
    .vcard {
      position: relative;
      top: 35px;
      right: auto;
    }
  }
}

@media screen and (max-width: 750px) {
  main {
    flex-direction: column;

    .hcard-builder {
      flex-basis: auto;
      order: 2;
    }

    .hcard-preview {
      flex-basis: auto;
      order: 1;
      padding: 40px 0 20px;
      min-width: auto;
    }
  }
}

@media screen and (max-width: 430px) {
  body {
    min-width: 320px;
  }

  main {
    @include single-row-form-fields();

    .hcard-builder {
      .form__section {
        padding-bottom: 24px;
      }

      .form__title {
        margin-bottom: 0;
      }
    }

    .vcard {
      width: 100%;
    }
  }
}
